.option-tab {
    padding: 13px 24px;
    border-radius: 100px;
}

.option-tab:hover {
    cursor: pointer;
}

.option-tab-text {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

#confirm-option-tab {
    background: #F0582F;
    width: 450px;
}

#cancel-option-tab {
    background: darkslategrey;
    width: 450px;
}

.pop-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(255, 255, 255, 0.8);
}

#genderButtonDiv {
    background: #fff;
    width: 100%;
    font-size: 24px;
}

.inputField {
    text-transform: uppercase;
    font-size: 24px!important;
    width: 100%;
    font-family: inherit;
    padding: 11px;
    line-height: inherit;
}

#registerButton {
    background: #14A850;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border-radius: 31px;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

#registerText {
    font-size: 20px;
    margin: 0px;
    padding: 5px
}

#clearAllButton {
    background: #EE817B;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border-radius: 31px;
}

.grow {
    transition: 1s ease;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

.genderOption:hover {
    background: #0072BB;
    color: #fff;
}

#imageErrorMessage,
#validatefNameMessage,
#validatelNameMessage,
#fNameErrorMessage,
#genderErrorMessage,
#lNameErrorMessage,
#dateErrorMessage,
#emailErrorMessage,
#pcontactErrorMessage,
#scontactErrorMessage,
#scontactCountErrorMessage,
#addressErrorMessage,
#emailErrorMessage,
#failedMessage,
#successMessage {
    display: none;
    font-size: 19px!important;
}

#contactAddress {
    border-radius: 0px;
    padding-left: 33px;
    width: 100%!important;
    padding-bottom: 22px;
    font-size: 22px;
}

.inputErrorMessage {
    font-size: 19px;
    position: absolute;
    color: crimson;
}

.inputLabel {
    font-size: 22px
}

.container {
    width: 75%!important;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 22px!important;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 22px!important;
}

:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 22px!important;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-size: 22px!important;
}

#genderFemale,
#genderMale {
    padding: 6px;
}

.row {
    margin: 0px;
}

#customerDOB {
    font-size: 23px;
    padding: 4px 10px 7px 5px;
}

.alert {
    padding: 20px;
    background-color: green;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 44px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#CustomerAlreadyRegisteredMessage,
#NoCustomerIDFoundMessage,
#NoIDFoundMessage,
#ExistingTagErrorMessage {
    width: 50%;
    background: red!important;
    color: #fff;
    font-size: 27px;
}

#clearAllButtonText {
    font-size: 20px;
    margin: 0px
}

#customerAddSuccessMessage,
#GuestFoundMessage {
    width: 50%;
    background: green;
    z-index: 999999
}

#messageContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 200px;
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -200px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -200px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}