<footer>
  <div class="footer navbar-fixed-bottom" style="">

    <mat-grid-list cols="6" rowHeight="4:1">
      <mat-grid-tile>
        <img src="https://s3-us-west-2.amazonaws.com/qlezboothimages/Qulez.png" class="img-responsive" style="left:10; max-width: 15%">
        <br>
        <h4 style="color:rgba(255, 255, 255, 0.74);"><b> Qlez</b> Smart Stores</h4>
      </mat-grid-tile>
      <mat-grid-tile>
       
      </mat-grid-tile>
      <mat-grid-tile>
       
      </mat-grid-tile>
      <mat-grid-tile>
       
      </mat-grid-tile>
      <mat-grid-tile>
       
      </mat-grid-tile>
      
      <mat-grid-tile>
        <img id="clientLogo" *ngIf="clientLogo" src="http://www.inddc.in/webroot/assets/img/sample/shortcode/logo/2.png" class="img-responsive" style="right:10; max-width: 45%">
      </mat-grid-tile>

    </mat-grid-list>

  </div>
</footer>