<div class="row" id="welcome_main_div">

    <table style="height:100%">
        <tr>
            <td width="60%" id="logo-td">
                <table>
                    <tr>
                        <td align="center" width="50%">
                            <img class="img-responsive" src="https://s3.ap-south-1.amazonaws.com/demo-ui-images/Qulez.png">
                        </td>
                        <td id="intro-td">
                            <p id="QSS-heading">Qlez Smart Store</p>
                            <br>
                            <p id="qlez_intro">
                                Qlez is the very first product from Pi Revolutions with an aim to craft Retail Store's Future. Artificial Intelligence and Machine Learning combined altogether to redefine customer experience, and operations for retail stores by providing end to end integrated
                                solution right from stock addition to sales. Get around the rules we are proud to acknowledge that we got Qlez patented in 2016.
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
            <td></td>
            <td width="30%" align="center">


                <div class="option-tab grow" id="smm-option-tab" (click)="goToSMMLogin()">
                    <table width="100%">
                        <tr>
                            <td width="30%" align="center">
                                <img src="../../assets/icons/smm.png" width="100px">
                            </td>
                            <td>
                                <p class="option-tab-text">STORE MANAGMENT MODE</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <br><br><br><br><br>
                <div class="option-tab grow" id="pos-option-tab" (click)="goToPOSLogin()">
                    <table width="100%">
                        <tr>
                            <td width="30%" align="center">
                                <img src="../../assets/icons/pos.png" width="100px">
                            </td>
                            <td>
                                <p class="option-tab-text">POINT OF SALES MODE</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
