#loadingProduct{display: none}
#productTable{display: none};
#productItemCode,#productColor,#productSize,#productExpiry{pointer-events: none}
#saveItemcode,#saveColor,#saveSize,#saveExpiryDate{display: none;background: green;color:#fff}
.material-icons{color: #fff;background: cornflowerblue;padding: 5px;border-radius: 20px;}

#headerStyle{padding: 5px;background: #0072BB}
.profileIcon{color:#fff;float: right;padding-top: 5px;}
.home-button{color:#fff;float: left;cursor: pointer;padding-top: 6px;}
#usernameStyle{color: #fff;font-size: 29px;text-align: right;padding: 10px;}
.firstLetterStyle{color:#00BFF2;}
#SDHeadingStyle{color:#fff;line-height: 0.4;font-weight: 600}
.iconTd{background: #fff;color: #999;padding: 0px 10px;}
.row{margin:0px;}
.iconStyle{padding-top: 4px;}
.productColoumnValueStyle{text-align: center;font-size: 20px;font-weight: 600;}
.productColoumnHeadStyle{text-align: center;color: #105480;font-weight: 600;}
#searchLabelStyle{background: #fff;
    border-radius: 50px;
    padding: 3px 7px;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 1px;
  margin: 0px 22px;}
#scanButtonStyle{background: #0072BB!important;color:#fff!important;width: 200px!important;line-height: 40px;font-size: 20px}
.homeButtonTextStyles{
  color: #fff;
    padding: 7px;
    font-size: 16px;
    }
.outer {
    display: table;
    position: absolute;
    height: 85%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-brown .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}
              
/* form starting stylings ------------------------------- */
.group        { 
  position:relative; 
}
input         {
  font-size:20px;
  padding:4px 10px 4px 5px;
  display:block;
  width:300px;
  border:none;
  color:#999;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:36px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#fff;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:none; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

/* Material style */
button {
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

/* Ripple magic */
button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
    border-radius: 43px;

  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
    border-radius: 43px;

  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
    border-radius: 43px;

  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:25px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:25px; opacity:1 }
}

#failedMessage{display:none;width: 50%;background:orange!important;color: #fff}
.alert {
    padding: 20px;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    cursor: pointer;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
 
}
 svg {
  position: fixed;
    top: 65%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
svg circle {
  fill: #76daff;
}
@media (min-width: 1200px)
{
  .container {
    width: 92%;
  }
}