<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div (click)="logout()">
            <p style="    margin: 10px;
            position: absolute;
            padding: 10px 20px;
            right: 5%;
            font-size: 22px;
            background: red;
            color: #fff;
            border-radius: 99px;
            cursor: pointer;">BACK</p>
            <!-- <img class="grow" src="https://s3.ap-south-1.amazonaws.com/popees-data-bucket/images/logout.png" style="    position: absolute;
			top: 0;right: 0;width: 80px;padding: 20px;cursor:pointer" data-toggle="tooltip" title="Logout"> -->
        </div>
    </div>
</div>
<div id="login-main-bg-div">
    <div class="container">
        <div class="row" id="login-div">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div align="center" id="signin-bg-div">
                    <h1 id="signin-text">{{loginType}} SIGN IN</h1>
                </div>
                <div id="form-div">
                    <table>
                        <tr>
                            <td width="30%">
                                <p class="form-label">User name</p>
                            </td>
                            <td></td>
                            <td>
                                <input id="loginUsername" type="text" #username placeholder="Enter username"></td>
                        </tr>
                        <br>
                        <tr>
                            <td width="30%">
                                <p class="form-label">Password</p>
                            </td>
                            <td></td>
                            <td>
                                <input id="loginPassword" type="password" #password placeholder="Enter Password">
                            </td>
                        </tr>
                        <br>
                        <tr>
                            <td width="30%"></td>
                            <td></td>
                            <td>
                                <table>
                                    <tr>
                                        <td (click)="loginValidation(username,password)">
                                            <span id="login-button">Login</span>
                                        </td>
                                        <td>
                                            <a id="forgot-button" (click)="forgetFunction()">forgot password?</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <div class="container" align="center">
        <br><br>
        <div class="container">
            <div class="row" id="loginFailedMessage">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="alert alert-danger" align="
							center">
                        <strong>Login Failed!</strong> Please retry!
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row" id="credentialMissingMessage">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="alert alert-danger" align="
							center">
                        Please Enter the credentials before submit!
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <div *ngIf="loadingProgress" align="center">

        <svg width="70" height="20">	
            <circle cx="10" cy="10" r="0">
                <animate attributeName="r" from="0" to="10" values="0;10;10;10;0" dur="1000ms" repeatCount="indefinite" />
            </circle>
        
            <circle cx="35" cy="10" r="0">
                <animate attributeName="r" from="0" to="10" values="0;10;10;10;0" begin="200ms" dur="1000ms" repeatCount="indefinite" />
            </circle>
        
            <circle cx="60" cy="10" r="0">
                <animate attributeName="r" from="0" to="10" values="0;10;10;10;0" begin="400ms" dur="1000ms" repeatCount="indefinite" />
            </circle>
        </svg>
    </div>
</div>