#welcome_main_div {
    margin-right: 0px;
    margin-left: 0px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#backButton {
    text-align: center;
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

#bg-td {
    background-image: url('../../../assets/images/backgrounds/loginbg.jpg');
    background-size: cover
}

#CS-heading {
    font-size: 47px;
    font-weight: 700;
}

#cs-intro-td {
    color: #fff;
    padding: 5%;
}

#qlez_intro {
    line-height: 38px;
    font-size: 19px;
    font-weight: 600;
    text-align: justify;
}

.option-tab {
    padding: 13px 24px;
    border-radius: 100px;
}

.option-tab:hover {
    cursor: pointer;
}

#pos-option-tab {
    background: #14A850;
}

#smm-option-tab {
    background: #F0582F
}

#close-option-tab {
    background: darkgrey;
    color: #fff;
    position: absolute;
    top: 7%;
    right: 4%;
}

#close-text {
    padding: 0px!important;
}

.option-tab-text {
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 14px;
}

.grow {
    transition: 1s ease;
}

.grow:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

#T-option-tab {
    background: #F0582F;
}

#FSP-option-tab {
    background: blueviolet;
}

#MVC-option-tab {
    background: brown;
}

#UI-option-tab {
    background: cadetblue;
}

#MFI-option-tab {
    background: chocolate;
}

#CB-option-tab {
    background: crimson;
}

#MOP-option-tab {
    background: darkgoldenrod;
}