.imageUrlInput{width: 90%}
#editImagesButton{background: blue;margin-top: 21px;width: 100%}
#editSection{color: #fff}
.errorMessage{font-size: 15px;color:#fff;position: relative;}
#saveItemName,#saveColor,#saveItemBrand,#saveItemManufacturer,#saveItemMRP,#saveItemCP,#saveItemSP,#saveItemGroup,#saveItemCategory,#saveItemSubCategory,#saveItemTax,#saveItemNature{display: none;background: green;color:#fff;padding:5px;border-radius:24px;}
#cancelItemColor,#cancelItemBrand,#cancelItemManufacturer,#cancelItemMRP,#cancelItemCP,#cancelItemSP,#cancelItemColor,#cancelItemGroup,#cancelItemCategory,#cancelItemSubCategory,#cancelItemTax,#cancelItemNature
{
    color: rgb(230, 77, 18);
    display: none;
    font-size: 37px;
    padding-top: 30px;
}
.editIcons{color: #fff;padding-top: 34px;font-size: 34px;}
.editImageIcons{display: none;}
/*#itemColorInput{pointer-events: none}*/
#editgroupKey,#editNature,#editItemNatureKey{width: 88%;}
#itemNameInput,#itemBrandInput,#itemManufacturerInput,#itemMRPInput,#itemCPInput,#itemSPInput,#itemTaxInput{    pointer-events: none;}
.form-control{
    font-size: 25px;
    padding: 10px;
    height: 49px;}
#groupSelect,#categorySelect,#subCategorySelect,#natureSelect,#colorsSelect{display: none;width: 91%}
#itemSpSaveErrorMessage,#itemTaxSaveErrorMessage,#saveItemImage,#itemTaxErrorMessage,#itemManufactureSaveErrorMessage,#itemSubCategorySaveErrorMessage,
#itemCatSaveErrorMessage,#itemGroupSaveErrorMessage,
#itemNatureSaveErrorMessage,#itemBrandSaveErrorMessage,
#itemMrpSaveErrorMessage,#itemCpSaveErrorMessage,#itemTaxSaveErrorMessage,
#itemBrandErrorMessage,#itemCategoryErrorMessage,#itemNatureErrorMessage,#itemSubCategoryErrorMessage,
#itemManufactureErrorMessage,#itemMrpErrorMessage,#itemCpErrorMessage,#itemSpErrorMessage,#itemTaxErrorMessage{display: none;}
#editItemManufacturer,#editItemImage,#editColor,#editItemBrand,#editItemName,#editItemMRP,#editItemCP,#editItemSP,#editItemCategory,#editItemGroup,#editItemSubCategory,#editItemNature,#editItemTax{padding: 5px}
.buttonStyle{background: #1F3A93;width: 150px;color:#fff!important;}
#natureInput,#subCategoryInput,#categoryInput,#groupInput,#colorsInput{border-radius: 0px;pointer-events: none;}
.main-bg{background: #282828;position: absolute;bottom: 0;top: 0;right: 0;left:0;}
.profileIcon{color:#fff;float: right;}
.home-button{color:#fff;float: left;cursor: pointer}
#usernameStyle{color: #fff;font-size: 29px;text-align: right;padding: 10px;}
.firstLetterStyle{color:#00BFF2;}
#SDHeadingStyle{color:#fff;line-height: 0.4;font-weight: 600}
.iconTd{background: #00BFF5;color: #fff;padding: 0px 10px;}
.bookmarkIcon{padding-top: 2px}
.labelTdStyle{background: #00BFF5;color: #fff;padding: 6px;}
button{font-size:20px;line-height:40px}
.row{margin:0px;}
#headerStyle{padding: 10px;background: #0072BB}
.iconStyle{padding-top: 4px;}
#forgotPasswordStyle{color: #fff;font-size: 12px;padding: 5px;}
#outer-button-ring{display: inline-block;background: #0071BB;color: #fff;padding: 21px 20px;border-radius: 54px;}
#inner-button-ring{background: #00BFF2;padding: 16px 13px;border-radius: 27px;margin:0px;font-weight: 700}
.SSAHeading{padding: 16px 5px!important;}
.coloumnHeadStyle{background: #363636;color: #eee;padding: 5px 3px;}
.coloumnValueStyle{background: #fff;padding: 5px;}
.productColoumnValueStyle{text-align: center;font-size: 27px;font-weight: 600;}
.productColoumnHeadStyle{text-align: center;}
#searchLabelStyle{background: #fff;border-radius: 50px;padding: 3px 7px;display: inline-block;padding-top: 6px;padding-bottom: 1px;margin: 0px 22px;}
#scanButtonStyle{background: #0072BB!important;color:#fff!important;width: 200px!important}
.homeButtonTextStyles{color: #fff;padding: 7px;font-size: 16px;}
.outer {display: table;position: absolute;height: 85%;width: 100%;}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-brown .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(121, 85, 72, 0.65);
}
              
/* form starting stylings ------------------------------- */
.group        { 
  position:relative; 
}
input         {
  font-size:17px;
  padding:4px 10px 4px 5px;
  display:block;
  width:100%;
  border:none;
  color:#000;
}
input:focus     { outline:none; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* LABEL ======================================= */
label          {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:36px;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#fff;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:none; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

/* Material style */
button {
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

/* Ripple magic */
button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
    border-radius: 43px;

  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
    border-radius: 43px;

  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
    border-radius: 43px;

  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
button{
  position: relative;
  overflow: hidden;
}

button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
    border-radius: 43px;

  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
    border-radius: 43px;

  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
    border-radius: 43px;

  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

#failedMessage{width: 50%;background:red!important;color:#fff;}

#successMessage{width: 50%;background: green;color: #fff;display: none;}

#messageContainer{position: absolute;left: 0px;right: 0px;bottom: 200px;}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-200px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-200px; opacity:0 } 
  to{ bottom:0px; opacity:1 }
}
textarea{
  font-size: 20px;
}
