#retry-option-tab {
    background: #BE5144;
    width: 400px;
}

.table>tbody>tr>th,
.table>tbody>tr>td {
    font-size: 20px;
    padding: 11px 5px;
}

#staffDisplaySection {
    min-height: 600px;
}

.customInputField {
    text-transform: uppercase;
    font-size: 24px!important;
    font-family: inherit;
    padding: 11px;
    line-height: inherit;
    border-bottom: 3px solid #eee;
    width: 450px!important;
}

.employeeValueLabel {
    font-size: 24px;
    width: 450px;
    padding: 12px;
}

.inputErrorMessage {
    font-size: 19px;
    position: absolute;
    color: crimson;
}

.material-icons {
    font-size: 28px!important;
    padding: 12px;
    background: #337ab7;
    color: #fff;
    cursor: pointer;
    border-radius: 99px;
}

#save-exit-option-tab {
    background: brown;
    width: 82%;
}

#view-option-tab {
    padding: 3px 10px!important;
    background: brown
}

#view-option-tab-text {
    font-size: 19px!important
}